*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
examples/bad_ignition_1.wav filter=lfs diff=lfs merge=lfs -text
examples/normal_engine_idle_1.wav filter=lfs diff=lfs merge=lfs -text
examples/worn_out_brakes_1.wav filter=lfs diff=lfs merge=lfs -text
examples/bad_ignition_2.wav filter=lfs diff=lfs merge=lfs -text
examples/dead_battery_1.wav filter=lfs diff=lfs merge=lfs -text
examples/dead_battery_2.wav filter=lfs diff=lfs merge=lfs -text
examples/low_oil_1.wav filter=lfs diff=lfs merge=lfs -text
examples/low_oil_2.wav filter=lfs diff=lfs merge=lfs -text
examples/mix_1.wav filter=lfs diff=lfs merge=lfs -text
examples/mix_2.wav filter=lfs diff=lfs merge=lfs -text
examples/mix_3.wav filter=lfs diff=lfs merge=lfs -text
examples/mix_4.wav filter=lfs diff=lfs merge=lfs -text
examples/normal_brakes_1.wav filter=lfs diff=lfs merge=lfs -text
examples/normal_engine_idle_2.wav filter=lfs diff=lfs merge=lfs -text
examples/normal_engine_startup_1.wav filter=lfs diff=lfs merge=lfs -text
examples/normal_engine_startup_2.wav filter=lfs diff=lfs merge=lfs -text
examples/power_steering_1.wav filter=lfs diff=lfs merge=lfs -text
examples/power_steering_2.wav filter=lfs diff=lfs merge=lfs -text
examples/serpentine_belt_1.wav filter=lfs diff=lfs merge=lfs -text
examples/serpentine_belt_2.wav filter=lfs diff=lfs merge=lfs -text
